body {
    background-color: rgb(212, 196, 211);
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
    background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNjExMTlfNiAg%2FMDAxNDc5NTQ0NzMzNTUx.7Usar6H9U4d1Ov-yRgpW28W7pjxyclNNNqipdm1kNMcg.z_fKJm0a7rv-hcj7GykCUmmtShT7WHHgVnLyJtf-xLYg.JPEG.wlgp0825%2FKakaoTalk_Moim_4JSvIOc30fgUukCNCy1RgGXiBCw52x.jpg&type=ofullfill340_600_png");
    background-size: cover;
    overflow-y: scroll;
}

.mainimg {
    /* text-align: center; */
    /* margin-top: 200px; */
    border: 10px solid rgb(148, 144, 144);
    width: 400px;
    height: 400px;
    align-items: center;
    top: 50%;
    left: 50%;
    display: block; 
    margin: 0px auto;
    /* position: relative; */
    margin-top: 230px;
    border-radius: 30%;
    overflow: hidden;

}

.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
}
.menu li a {
    /* background-color: rgb(250, 250, 250); */
    /* border: 2px solid rgb(218, 196, 196); */
    /* border-radius: 50%; */
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-weight: bold;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    text-shadow: 0px 0px 10px black ;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
} 

h3 {
    font-family: 'Pretendard-Thin';
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 10px black ;
}

.severintro {
    font-family: 'Pretendard-Thin';
    color: #dcdf31;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 17px;
    text-shadow: 0px 0px 10px #f00e0e;
    font-weight: bold;
    margin: 10px;
}
